<div class="principal">
    <ul class="list">
        <li class="list-item">
            <div class="card-1">
                <div class="card">
                    <div class="card-body">
                        <img class="img1" src="assets/grafica-1.jpg" alt="">
                        <div class="card-separador">
                            <div class="card-vertical">
                                <h5>$4230</h5>
                                <small>Total individe</small>
                            </div>
                            <div class="card-vertical">
                                <h5>321</h5>
                                <small>Today sales</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-2">
                <div class="card">
                    <div class="card-body card-body-2">
                        <div class="card-separador">
                            <div class="card-detallado">
                                <small>REALITY</small>
                                <h6 id="red">-0.99</h6>
                            </div>
                            <div class="card-detallado">
                                <small>INFRA</small>
                                <h6 id="green">-7.66</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </li>




        <li class="list-item">
            <div class="card c-2">
                <div class="card-body">
                    <img class="img2" src="assets/grafica-pie.png" alt="">
                    <div class="card-separador">
                        <div class="card-vertical">
                            <h5>   Youtube</h5>
                            <small id="blue">+16.83%</small>
                        </div>
                        <div class="card-vertical">
                            <h5>Facebook</h5>
                            <small id="green">+45.36%</small>
                        </div>
                        <div class="card-vertical">
                            <h5>Twitter</h5>
                            <small id="yellow">-50.69%</small>
                        </div>
                    </div>
                </div>
            </div>
        </li>




        <li class="list-item">
            <div class="card c-2">
                <div class="card-body">
                    <div class="barras">
                    <div class="decorator"><label for="file1">Direct</label><label for="file1">80%</label></div>
                    <progress id="file1" max="100" value="80"></progress>

                    <div class="decorator"><label for="file1">Social</label><label for="file1">80%</label></div>
                    <progress id="file2" max="100" value="50"></progress>

                    <div class="decorator"><label for="file1">Direct</label><label for="file1">80%</label></div>
                    <progress id="file1" max="100" value="20"></progress>

                    <div class="decorator"><label for="file1">Internet</label><label for="file1">80%</label></div>
                    <progress id="file2" max="100" value="60"></progress>

                    <div class="decorator"><label for="file1">Direct</label><label for="file1">80%</label></div>
                    <progress id="file2" max="100" value="60"></progress>
                    </div>
                </div>
            </div>
        </li>

    </ul>
</div>
