<div class=nav>
    <ul class=list>
        <li class="list-item"><img src="assets/logotipo.png" alt=""></li>
        <li class="list-item"><strong><h3>Materially</h3></strong></li>
        <li class="list-item"><i class="fas fa-bars"></i></li>
        
    </ul>
    <ul clas=list>
        <li class="list-item input-icons">
            <i class="fas fa-search icon"></i>
            <input type="text" placeholder="         Search...">
        </li>
        <li class="list-item"><i class="fas fa-cogs"></i></li>
        <li class="list-item"><i class="far fa-bell"></i></li>
        <li class="list-item"><i class="fas fa-users"></i></li>
        
    </ul>
</div>