<div class="principal">
    <ul class="list">
        <li class="list-item">
            <div class="card">
                <div class="card-body">
                    <div class="card-superior card-superior-1">
                    
                        <div class="card-izq card-izq-1">
                            <h4>$30200</h4>
                            <h6>All farnings</h6>
                        </div>
                        <i class="fas fa-hand-holding-usd"></i>
                    </div>

                    <div class="card-foot card-foot-1">
                        <small>10% changes on profit</small>
                        <i class="fas fa-angle-double-up"></i>
                    </div>
                </div>
            </div>
        </li>


        <li class="list-item">
            <div class="card">
                <div class="card-body">
                    <div class="card-superior card-superior-2">
                    
                        <div class="card-izq card-izq-2">
                            <h4>145</h4>
                            <h6>Task</h6>
                        </div>
                        <i class="far fa-calendar-alt"></i>
                    </div>

                    <div class="card-foot card-foot-2">
                        <small>28% Task performance</small>
                        <i class="fas fa-angle-double-down"></i>
                    </div>
                </div>
            </div>
        </li>


        <li class="list-item">
            <div class="card">
                <div class="card-body">
                    <div class="card-superior card-superior-3">
                    
                        <div class="card-izq card-izq-3">
                            <h4>290+</h4>
                            <h6>Pages views</h6>
                        </div>
                        <i class="far fa-sticky-note"></i>
                    </div>

                    <div class="card-foot card-foot-3">
                        <small>10% daily vies</small>
                        <i class="fas fa-angle-double-up"></i>
                    </div>
                </div>
            </div>
        </li>


        <li class="list-item">
            <div class="card">
                <div class="card-body">
                    <div class="card-superior card-superior-4">
                    
                        <div class="card-izq card-izq-4">
                            <h4>500</h4>
                            <h6>Downloads</h6>
                        </div>
                        <i class="far fa-thumbs-up"></i>
                    </div>

                    <div class="card-foot card-foot-4">
                        <small>1k donwload in App Store</small>
                        <i class="fas fa-angle-double-up"></i>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>